body {
  margin: 0;
  font-family: "Cinzel", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  font-family: "Cinzel", serif;
}

button {
  font-family: "Cinzel", serif;
}
code {
  font-family: "Cinzel", serif;

}
